@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary: #ff4500;
  --secondary-lg: #008080;
  --secondary-dk: #012222;
  --dark: #111;
  --light: #fffaf0;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
  --sky: #87ceeb;
  --b-rad: 3px;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-xs: 5px;
  --size-sm: 10px;
  --size-md: 15px;
  --size-lg: 20px;
  --size-xl: 25px;
  --font-main: 'League Spartan', sans-serif;
  --font-logo: 'Amatic SC', sans-serif;
}

body {
  font-family: var(--font-main);
}

.navbar {
  width: 100%;
  height: 8rem;
  background-color: var(--dark);
  position: fixed;
  top: -8rem;
  z-index: 10;
  padding: 3rem;
  transition: height 0.5s;
  animation: animateNavbar 1s 0.5s forwards;
}

@keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.navbar.change {
  height: 100vh;
}

.logo {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}

.logo a {
  font-family: var(--font-logo);
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--primary);
}

.nav-list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
}

.nav-link {
  font-family: var(--font-logo), sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: var(--light);
  margin: 2rem 0;
  transition: color 0.4s;
}

.nav-link:hover {
  color: var(--primary);
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--light);
  transition: 0.3s;
}

.line-1 {
  width: 50%;
}

.change .line-1 {
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)),
    url(images/bg2.jpg) no-repeat center; 
  background-size: cover;
  position: relative;
}

.banner {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-heading {
  margin-bottom: 4rem;
  height: 20rem;
  perspective: 50rem;
  overflow: hidden;
}

.banner-heading span {
  font-family: 'Amatic SC', sans-serif;
  font-size: 12rem;
  font-weight: bold;
  color: var(--light);
  text-shadow: 2px 2px 2px var(--primary);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateZ(8rem);
  opacity: 0;
  letter-spacing: 3rem;
}

.heading-1 {
  animation: animateHeading 12s 3s infinite;
}

.heading-2 {
  animation: animateHeading 12s 6s infinite;
}

.heading-3 {
  animation: animateHeading 12s 9s infinite;
}

.heading-4 {
  animation: animateHeading 12s 12s infinite;
}

@keyframes animateHeading {
  0% {
    transform: translateZ(8rem);
    opacity: 0;
    leter-spacing: 3rem;
  }
}

@media (max-width: 1800px) {

}
@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }
}
@media (max-width: 1500px) {

}
@media (max-width: 1400px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
}
